<div class="well table-row bg-cover" style="background-image: url(${enclosure.url})">
    <div class="vcenter table-cell">
        <a class="thumbnail" href="${enclosure.url}" target="_blank">
            <img src="${enclosure.url}" title="Click to open full size image in new window">
            </a>
        <p class="vcenter table-cell well news-title">${title}</p>
        <p class="vcenter table-cell well post-details" style="display: none">${description}
            <br/>
            <a href="${link}" target="_blank">More info</a></p>
       </div>
</div>